header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    margin-left: 192px;
    margin-right: 0 auto;
    margin-bottom: 80px;
  }
  
  .user-icon {
    width: 20px;
    height: 20px;
    margin-right: 5px;
  }
  
  .healthcare-text {
    font-weight: bold;
    font-size: 18px;
    color: #233348;
    font-family: 'Muli', sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }

  .left-section {
    display: flex;
    align-items: center;
  }

  .right-section a {
    margin-right: 40px;
    text-decoration: none;
    color: #000;
    opacity: 0.5;
    font-family: 'Muli', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
  
  .right-section a.selected {
    color: #000;
    opacity: 1.0;

  }
