#root {
  width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
  align-items: center;
}

.Pic1 {
  width: 693px;
  height: 598px;
}
.container1 {
  display: flex;
  flex-direction: row;
  margin-left: 192px;
  grid-column-gap: 127px;
}

.column1 {
  text-align: left;
}